doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title ROTEX PAINT
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Dosis:600', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Kodchasan', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet')
  
  link(rel='stylesheet', type='text/css', media='screen', href='../styles/style.menu.css')
  link(rel='stylesheet', href='../styles/style.css')
  link(rel='stylesheet', href='../styles/feature.product.css')
  link(rel='stylesheet', href='../styles/trending.css')
  link(rel='stylesheet', href='../styles/support.bar.css')
  link(rel='stylesheet', href='../styles/footer.css')
  link(rel='stylesheet', href='../styles/product.card.css')
  script(src='../stylesJS/menu.bar.js')
  script(src='../stylesJS/main.js')
  block head
.menu-bar
  nav#menu
    .logo
      a.page-head-title(href='/')
       h1 ROTEX PAINT
    #toggle
      .one
      .two
      .three
    ul.list
      li.item
        a(href='/') TRANG CHỦ
      li.item.dropdown-item
        a(href='/products') SẢN PHẨM
        ul.product-dropdown
          li.drop-product
           a(href='/products?category=Son') Sơn
          li.drop-product
           a(href='/products?category=BotTretTuong') Bột trét tường
        //-   li.drop-product Sony
        //-   li.drop-product Others
      li.item
        a(href='/#color') MÀU SẮC
      li.item
        a(href='/#about-us') VỀ CHÚNG TÔI
        //- ul.product-dropdown
        //-   li.drop-product Authors
        //-   li.drop-product Coders.Tokyo
      li.item
        a(href='/contact') LIÊN HỆ
    a.cart(href='/cart')
      i.fas.fa-cart-plus
        span &nbsp;
        if carts
          sup= carts.totalQty
.wrapper.pt-5
 block content
.footer
  .footer-container
hr
.footer-container
  .page-title
    h1 ROTEX PAINT
    p Find your color
    p Find your soul
  .footer-menu
    .menu-footer
      h2 Sản phẩm
      ul.list-menu
        li.item-menu
          a(href='/products?category=Son') SƠN
        li.item-menu
          a(href='/products?category=BotTretTuong') BỘT TRÉT TƯỜNG
        //- li.item-menu
        //-   a(href='#') SPEAKERS
        //- li.item-menu
        //-   a(href='#') ACCESSORIES
        //- li.item-menu
        //-   a(href='#') AUDIOs
    .menu-footer
      h2 Hỗ trợ
      ul.list-menu
        li.item-menu
          a(href='/service') HỖ TRỢ SẢN PHẨM
        li.item-menu
          a(href='/service') DỊCH VỤ &amp; BẢO HÀNH
        li.item-menu
          a(href='/service') NÂNG CẤP
        li.item-menu
          a(href='/contact') LIÊN LẠC VỚI CHÚNG TÔI
    .menu-footer
      #contact.contact-infor
        | Contact us Via &nbsp;
        a(href='https://www.facebook.com/h2hallowdy', target="_blank")
          img(src='./images/facebook-logo-button.svg', alt='facebook', style='width: 20px;\
          height:20px')
        | &nbsp;  
        a(href='#')
          img(src='./images/instagram-logo.svg', alt='instagram', style='width: 20px;\
          height:20px')
        | &nbsp; 
        a(href='https://coders.tokyo/', target="_blank")
          img(src='./images/custom-css.svg', alt='instagram', style='width: 20px;\
          height:20px')
        | &nbsp;
        
.copy-right
  p Design &copy; 2018 Hoang Nguyen. - From Coders.Tokyo and Intel