extends ./layouts/common 
block content
 h2.title-page VỀ CHÚNG TÔI
 .container-color
  img.responsive-image(src='./images/aboutus.jpg', alt='about-us-image')
  .container-flex
   img.responsive-image(src='./images/certificate1.jpg', alt='Thông tin')
   img.responsive-image(src='./images/certificate2.jpg', alt='Thông tin')

 .top-btn
  i.fas.fa-chevron-up
