extends ./layouts/common 
block content
 h2.title-page MÀU SẮC
 .container-color
  p Tại đây chúng tôi cung cấp một hệ thống màu sắc cực kỳ phong phú, cho bạn trải nghiệm tốt với cả hệ thống Sơn trong nhà lẫn ngoài trời.
  p Xem hình dưới đây để biết về hệ thống màu của chúng tôi.
  img.responsive-image(src='./images/colorpicker.jpg', alt='Color picker')

 .top-btn
  i.fas.fa-chevron-up