extends ./layouts/common 
block content
 h2.title-page LIÊN HỆ
 .container-color
  p Liên lạc với chúng tôi qua Email: Sonvanduc668@gmail.com
  p Số điện thoại: 0912915177
  p
   | Hoặc liên lạc với chúng tôi ngay tại 
   a(href='/service') đây.
 .top-btn
  i.fas.fa-chevron-up
